#maks-instagram .maks-media-section {
    padding-bottom: 30px;
}
#maks-instagram .maks-media-thumbnail {
    opacity: 0.25;
    visibility: hidden;
    width: 100%
}
#maks-instagram .maks-media-body {
    display: none;
    overflow: hidden;
    position: relative;
}
#maks-instagram .maks-media-section h1,
#maks-instagram .maks-media-section h2,
#maks-instagram .maks-media-section ul {
    color: #fff;
    margin: auto;
    opacity: 0;
    padding: 10px;
    position: absolute;
    z-index: 99;
}
#maks-instagram .maks-media-section h1 {
    font-size: large;
    top: 30px;
}
#maks-instagram .maks-media-section h2 {
    font-size: small;
}
#maks-instagram .maks-media-section ul {
    bottom: 0;
    font-size: x-large;
    right: 0;
}
#maks-instagram .maks-media-likes-count,
#maks-instagram .maks-media-comments-count {
    font-size: large;
    margin-right: 5px;
}
#maks-instagram .maks-media-body img:not(.emoji),
#maks-instagram .maks-media-body video {
    position: absolute;
    z-index: 98;
}

#maks-instagram .maks-media-body.focus {
    background-color: #000000;
}
#maks-instagram .maks-media-section .focus img:not(.emoji),
#maks-instagram .maks-media-section .focus video {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    opacity: 0.3;
}
#maks-instagram .maks-media-section .focus h1,
#maks-instagram .maks-media-section .focus h2,
#maks-instagram .maks-media-section .focus ul {
    opacity: 1;
}

#maks-instagram .maks-media-body,
#maks-instagram .maks-media-section h1,
#maks-instagram .maks-media-section h2,
#maks-instagram .maks-media-section ul,
#maks-instagram .maks-media-body img,
#maks-instagram .maks-media-body video {
    transition:All 0.5s ease-out;
    -webkit-transition:All 0.5s ease-out;
    -moz-transition:All 0.5s ease-out;
    -o-transition:All 0.5s ease-out;
}