#maks-sm header::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 50%;
    float: left;
}

#maks-sm main {
    display: flex;
    flex-flow: row wrap;
}

#maks-sm main section {
    flex-grow: 1;
    display: block;
    box-sizing: border-box;
    padding: 1%;
}

#maks-sm main section, #maks-sm main section div {
    overflow: hidden;
}

#maks-sm main h1, #maks-sm main h2 {
    display: none;
}


#maks-sm .tooltip {
    position: relative;
}
#maks-sm .tooltiptext {
    visibility: hidden;
    display: inline-block;
    background-color: rgba(0,0,0,.85);
    color: #fff;
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    padding: 5px 15px;

    /* Position the tooltip */
    position: absolute;
    margin-top: 5px;
}
#maks-sm .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: transparent solid 5px;
    border-bottom-color: rgba(0,0,0,.85);
}
#maks-sm .tooltip:hover .tooltiptext {
    visibility: visible;

    /* Animation */
    animation: bubble ease-in .3s;
    transform-origin: 50% 0%;
    -webkit-animation: bubble ease-in .3s;
    -webkit-transform-origin: 50% 0%;
    -moz-animation: bubble ease-in .3s;
    -moz-transform-origin: 50% 0%;
    -o-animation: bubble ease-in .3s;
    -o-transform-origin: 50% 0%;
    -ms-animation: bubble ease-in .3s;
    -ms-transform-origin: 50% 0%;
}

@keyframes bubble {
    0% {
        opacity:0;
        transform:  scale(0.01);
    }
    80% {
        transform:  scale(1.20);
    }
    100% {
        opacity:1;
        transform:  scale(1.00);
    }
}
@-webkit-keyframes bubble {
    0% {
        opacity:0;
        -webkit-transform:  scale(0.01);
    }
    80% {
        -webkit-transform:  scale(1.20);
    }
    100% {
        opacity:1;
        -webkit-transform:  scale(1.00);
    }
}
@-moz-keyframes bubble {
    0% {
        opacity:0;
        -moz-transform:  scale(0.01);
    }
    80% {
        -moz-transform:  scale(1.20);
    }
    100% {
        opacity:1;
        -moz-transform:  scale(1.00)
    }
}
@-o-keyframes bubble {
    0% {
        opacity:0;
        -o-transform:  scale(0.01);
    }
    80% {
        -o-transform:  scale(1.20);
    }
    100% {
        opacity:1;
        -o-transform:  scale(1.00);
    }
}
@-ms-keyframes bubble {
    0% {
        opacity:0;
        -ms-transform:  scale(0.01);
    }
    80% {
        -ms-transform:  scale(1.20);
    }
    100% {
        opacity:1;
        -ms-transform:  scale(1.00);
    }
}